.App {
  text-align: center;
  margin: 60px;
}

.App-logo {
  height: 40vmin;
  margin: 60px;
}

.App-logoTurn {
  height: 40vmin;
  margin: 60px;
  -webkit-transform: rotate(360deg);
  -webkit-transition-duration: 5s;
  -webkit-transition-delay: now;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 300;
  /* transform: rotateY(180deg) rotateZ(180deg); */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}